@page
@model WebApplication2.Pages.DeleteModel
@{
}



<form method = "post">
	<div> are you sure you wanna delete the user with id = @Model.id </div>
	<button class ="btn btn-primary"> Confirm </button>

</form>